<!DOCTYPE html>
<html data-bs-theme="dark">

<head>
  <title>Update Student</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
  <div class="container-lg mt-5" style="width:500px;">
    <h1 class="display-4">Update Student</h1>
    <form method="POST">
      <div class="form-group">
        <label for="id">ID:</label>
        <input type="text" class="form-control" name="id" value="{{ student.id }}" required>
      </div>
      <br>
      <div class="form-group">
        <label for="first_name">First Name:</label>
        <input type="text" class="form-control" name="first_name" value="{{ student.first_name }}" required>
      </div>
      <br>
      <div class="form-group">
        <label for="last_name">Last Name:</label>
        <input type="text" class="form-control" name="last_name" value="{{ student.last_name }}" required>
      </div>
      <br>
      <div class="form-group">
        <label for="year_level">Year Level:</label>
        <input type="number" class="form-control" name="year_level" value="{{ student.year_level }}" required>
      </div>
      <br>
      <div class="form-group">
        <label for="gender">Gender:</label>
        <input type="text" class="form-control" name="gender" value="{{ student.gender }}" required>
      </div>
      <br>
      <div class="form-group">
        <label for="coursecode">Course:</label>
        <select class="form-control" name="coursecode" required>
          {% for course in courses %}
          <option value="{{ course.coursecode }}" {% if course.coursecode == student.coursecode %}selected{% endif %}>
            {{ course.coursecode }}
          </option>
          {% endfor %}
        </select>
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Update</button>
      <button type="button" class="btn btn-secondary" onclick="window.location.href='/'">Cancel</button>
    </form>
  </div>
</body>

</html>